<h1>{{title}}</h1>

<div class="push-30-t"><h3>IT STRATEGY LEARNING EXPERIENCE</h3>

<p>Welcome to the IT Strategy Learning Experience -- an&nbsp;<b>evolving series of self-guided and self-paced learning activities&nbsp;</b>presented via Force.com by Cirrus.&nbsp;</p>

<p>We currently have three tracks available (<a href="https://gso--c.eu2.visual.force.com/apex/GLBL_SBLD_Training_List_Section?id=a7Db0000000CaZB" target="_blank"><b>Modern IT Ecosystem</b></a>,&nbsp;<a href="https://gso--c.eu2.visual.force.com/apex/GLBL_SBLD_Training_List_Section?id=a7Db0000000CaZV" target="_blank"><b>Digital Services Layer</b></a>,&nbsp;<a href="https://gso--c.eu2.visual.force.com/apex/GLBL_SBLD_Training_List_Section?id=a7Db0000000CadS" target="_blank"><b>User-Centric</b></a>), which can be accessed from the "Training" section of the navigation bar (above). Each track is split into modules, which contain&nbsp;a number of training activities.</p>

<p>Once you've completed a training activity, you will "<b>get credit</b>", resulting in points and a badge. Points will be used to track progress, recognize individuals and award prizes.</p>

<p>This training is currently&nbsp;voluntary, but may become required over time.<br><br><img alt="User-added image" src="https://anilshivaraj-dev-ed--c.na30.content.force.com/servlet/rtaImage?eid=a053600000NiZFB&amp;feoid=00N3600000R8uo3&amp;refid=0EM36000000eDvT" style="height: 255px; width: 500px;"></p></div>