<div class="header-navbar-fixed header-navbar-dark" id="page-container">
<span id="j_id0:j_id9">
  <header class="content-mini content-mini-full" id="header-navbar">

        <ul class="nav-header pull-right">
            <li>
                <div class="btn-group">
                    <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button"><img src="https://anilshivaraj-dev-ed--c.na30.content.force.com/profilephoto/005/T" alt="Avatar">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-header"> Aryakaran Gupta</li>
                        
                        <li>
                            <a href="/secur/logout.jsp" tabindex="-1">
                                <i class="si si-logout pull-right"></i>Exit
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="hidden-md hidden-lg">
                <button class="btn btn-link text-white pull-right" data-class="nav-main-header-o" data-target=".js-nav-main-header" data-toggle="class-toggle" type="button">
                    <i class="fa fa-navicon"></i>
                </button>
            </li>
        </ul>
        
        <ul class="js-nav-main-header nav-main-header pull-right">
            <li class="text-right hidden-md hidden-lg">
                <button class="btn btn-link text-white" data-class="nav-main-header-o" data-target=".js-nav-main-header" data-toggle="class-toggle" type="button">
                    <i class="fa fa-times"></i>
                </button>
            </li>
            
            <li> 
                    <a href="/apex/Site?id=a053600000NiZFBAA3">Home</a>
            </li>    
                    <li> 
                        <a class="nav-submenu" href="#">Get Started</a> 
                        <ul>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000G0UEoAAN">Test</a>
                                </li>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000ExjTCAAZ">What is Architecture?</a>
                                </li>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000ExwzVAAR">Qualification Criteria</a>
                                </li>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000ExwzQAAR">Operating Model</a>
                                </li>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000ExwzaAAB">Expectations</a>
                                </li>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000Exwz2AAB">Process</a>
                                </li>      
                        </ul> 
                    </li>    
                    <li> 
                        <a class="nav-submenu" href="#">Curriculum</a> 
                        <ul>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000Exx09AAB">Details</a>
                                </li>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000Exx04AAB">Overview</a>
                                </li>    
                                <li> 
                                    
                                    <a class="work" href="/apex/Site?Id=a053600000NiZFBAA3&amp;tab=a073600000Exx0JAAR">Training Leaderboard</a>
                                </li>      
                        </ul> 
                    </li>     
              

        </ul>

        <ul class="nav-header pull-left">
            <li class="header-content">
                <a class="h5" href="#"><img src="/servlet/servlet.FileDownload?file=00P36000008uVrN" height="35">
                <!-- DD logo image was here -->
                </a>
            </li>
        </ul>
    </header></span><span id="j_id0:j_id28">
                        <main id="main-container" style="min-height: 693px;">
                               <div class="bg-primary-op" style="background-image: url('/servlet/servlet.FileDownload?file=00P3600000ARepoEAD'); background-size: contain; width:100%">
                               <!-- Background image was here -->
                                    <section class="content content-full content-boxed overflow-hidden">
                                        <div class="push-150-t push-150 text-center">
                                            <h1 class="text-white push-10 animated fadeInDown" data-class="animated fadeInDown" data-toggle="appear">Deloitte Digital</h1>
                                            <h2 class="h5 text-white-op animated fadeInDown" data-class="animated fadeInDown" data-toggle="appear">Deloitte Digital</h2>
                                        </div>
                                    </section>
                                </div>

                            <div class="bg-white">
                                <section class="content content-boxed overflow-hidden">
                                    <div class="row items-push-2x push-50-t nice-copy">
                                        <div class="col-lg-12">
                                            <h4 class="h3 font-w300 push-10">Welcome </h4>
                                            <div class="push-30-t"><h3>IT STRATEGY LEARNING EXPERIENCE</h3>

<p>Welcome to the IT Strategy Learning Experience -- an&nbsp;<b>evolving series of self-guided and self-paced learning activities&nbsp;</b>presented via Force.com by Cirrus.&nbsp;</p>

<p>We currently have three tracks available (<a href="https://gso--c.eu2.visual.force.com/apex/GLBL_SBLD_Training_List_Section?id=a7Db0000000CaZB" target="_blank"><b>Modern IT Ecosystem</b></a>,&nbsp;<a href="https://gso--c.eu2.visual.force.com/apex/GLBL_SBLD_Training_List_Section?id=a7Db0000000CaZV" target="_blank"><b>Digital Services Layer</b></a>,&nbsp;<a href="https://gso--c.eu2.visual.force.com/apex/GLBL_SBLD_Training_List_Section?id=a7Db0000000CadS" target="_blank"><b>User-Centric</b></a>), which can be accessed from the "Training" section of the navigation bar (above). Each track is split into modules, which contain&nbsp;a number of training activities.</p>

<p>Once you've completed a training activity, you will "<b>get credit</b>", resulting in points and a badge. Points will be used to track progress, recognize individuals and award prizes.</p>

<p>This training is currently&nbsp;voluntary, but may become required over time.<br><br><img alt="User-added image" src="https://anilshivaraj-dev-ed--c.na30.content.force.com/servlet/rtaImage?eid=a053600000NiZFB&amp;feoid=00N3600000R8uo3&amp;refid=0EM36000000eDvT" style="height: 255px; width: 500px;"></p></div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="bg-gray-lighter">
                                <section class="content content-full content-boxed">
                                    <div class="push-20-t push-20 text-center">
                                        
                                        <a class="btn btn-noborder btn-lg btn-success animated bounceIn" data-class="animated bounceIn" data-toggle="appear" href="www.google.com">hello world</a>
                                    </div>
                                </section>
                            </div>
                        </main></span>
                        <script>
                            jQuery(function() {
                                App.initHelpers(['appear']);
                            });
                        </script>
            <span id="j_id0:j_id33">


    <footer class="content-mini content-mini-full font-s12 bg-primary-dark-op clearfix" id="page-footer">
        <div class="pull-right text-white">
            <a class="text-white" href="/apex/GLBL_SBLD_About?id={site.Id}">BuildMySite v1.0</a>
        </div>
        <div class="pull-left text-white">
            <a class="font-w600 text-white" href="/apex/GLBL_SBLD_Home?id={site.Id}">Deloitte Digital</a> © <span class="js-year-copy">2015-17</span>
        </div>
    </footer></span>

        </div>